---
import TechItem from "@components/Archive/TechItem.astro";
import Header from "@components/Header/index.astro";
import NavBar from "@components/NavBar/index";
import BaseLayout from "@layouts/BaseLayout.astro";
import Main from "@layouts/Main.astro";

const projectPosts = await Astro.glob("../../pages/projects/*.md");
let techs: { [key: string]: number } = {};
let techsSorted: [string, number][] = [];
if (projectPosts) {
  projectPosts.forEach(({ frontmatter }) => {
    frontmatter.techs.forEach((tech: string) => {
      if (techs[tech]) {
        techs[tech] += 1;
      } else {
        techs[tech] = 1;
      }
    });
  });
  techsSorted = Object.entries(techs).sort((a, b) => b[1] - a[1]);
}
---

<BaseLayout
  title='Jhonatec | Portfólio'
  description='Projetos por Tecnologias'
>
  <Main>
    <Header />
    <NavBar client:only='react' />

    <div 
    class='grid grid-cols-2 gap-1 sm:gap-2 md:grid-cols-3 lg:grid-cols-4'
    >
      {
        techsSorted.map(([tech, count]) => (
          <TechItem tech={tech} count={count} url={`/techs/${tech}`}/>
        ))
      }
    </div>
  </Main>
</BaseLayout>
