---
import Item from "@components/Archive/Item.astro";
import Header from "@components/Header/index.astro";
import NavBar from "@components/NavBar/index";
import BaseLayout from "@layouts/BaseLayout.astro";
import Main from "@layouts/Main.astro";

const projectPosts = await Astro.glob("../../pages/projects/*.md");
let techs: { [key: string]: number } = {};
let techsSorted = [];
if (projectPosts) {
  projectPosts.forEach(({ frontmatter }) => {
    frontmatter.techs.forEach((tech: string) => {
      if (techs[tech]) {
        techs[tech] += 1;
      } else {
        techs[tech] = 1;
      }
    });
  });
  console.log('techs', techs);
  techsSorted = Object.entries(techs).sort((a, b) => b[1] - a[1]);
  console.log('techsSorted', techsSorted);
}
---

<BaseLayout
  title='Jhonatec | Portfólio'
  description='Bem-vindo ao meu portfólio!'
>
  <Main>
    <Header />
    <NavBar client:only='react' />

    <div class=' gap-1 sm:gap-4'>
      {
        projectPosts.map(({ frontmatter: { title, image }, url }) => (
          <Item text={title} url={url as string} img={image.url} />
        ))
      }
    </div>
  </Main>
</BaseLayout>
