---
interface Props {
  text: string;
  url: string;
  img: string;
}

const { text, url, img } = Astro.props;
---

<a href={url}>
  <div
    class='relative hover:*:block h-full aspect-square bg-slate-200 dark:bg-stone-800 rounded-lg'
  >
    <img src={img} alt={text} class='h-full object-cover rounded-lg' />
    <div class='text-white above-img line-clamp-1 flex-col'>
      <img
        src='/assets/icons/zoom-in.svg'
        alt='ðŸ”'
        width='32px'
        class='invert'
      />
      {text}
    </div>
  </div>
</a>
<style>
  .above-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    font-size: 1.1rem;
    font-weight: 600;
    width: 100%;
    text-align: center;
    height: 100%;
    overflow: hidden;
    line-clamp: 1;
    opacity: 0;
    transition: all 0.3s;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    /* From https://css.glass */
    background: rgba(64, 64, 64, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgb(0, 0, 0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  a:hover .above-img {
    opacity: 1;
  }
</style>
