---
---
<main class="container mx-auto p-4 max-w-screen-lg	">
  <slot></slot>
</main>
<style>
  @media screen and (max-width: 640px) {
    main {
      padding-left: 0;
      padding-right: 0;
    }
    
  }
</style>