---
import Typo from "@components/Base/Typo.astro";
import Header from "@components/Header/index.astro";
import NavBar from "@components/NavBar/index";
import BaseLayout from "@layouts/BaseLayout.astro";
import Main from "@layouts/Main.astro";

// const projectPosts = await Astro.glob("../pages/projects/*.md");
// if (projectPosts) {
//   projectPosts.sort((a, b) => {
//     return dayjs(a.frontmatter.date).isBefore(dayjs(b.frontmatter.date))
//       ? -1
//       : 1;
//   });
// }
---

<BaseLayout
  title='Jhonatec | Portfólio'
  description='Bem-vindo ao meu portfólio!'
>
  <Main>
    <Header />
    <NavBar client:only='react' />
    <div class='max-w-sm my-0 mx-auto'>
      <img src='/assets/icons/construction.svg' alt='Em construção' />
    </div>
    <Typo variant='h2' align='center'>Em breve...</Typo>
  </Main>
</BaseLayout>
