---
import Item from "@components/Archive/Item.astro";
import Header from "@components/Header/index.astro";
import NavBar from "@components/NavBar/index";
import BaseLayout from "@layouts/BaseLayout.astro";
import Main from "@layouts/Main.astro";
import dayjs from "dayjs";

const projectPosts = await Astro.glob("../pages/projects/*.md");
if (projectPosts) {
  projectPosts.sort((a, b) => {
    return dayjs(a.frontmatter.date).isBefore(dayjs(b.frontmatter.date))
      ? 1
      : -1;
  });
}
---

<BaseLayout
  title='Jhonatec | Portfólio'
  description='Bem-vindo ao meu portfólio!'
>
  <Main>
    <Header />
    <NavBar client:only='react' />

    <div class='grid-cols-3 grid gap-1 sm:gap-4'>
      {
        projectPosts.map(({ frontmatter: { title, image }, url }) => (
          <Item text={title} url={url as string} img={image.url} />
        ))
      }
    </div>
  </Main>
</BaseLayout>
