---
import Button from "@components/Base/Button.astro";
import Typo from "@components/Base/Typo.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header/index.astro";
import Main from "@layouts/Main.astro";
import Item from "@components/Archive/Item.astro";
import dayjs from "dayjs";

const projectPosts = await Astro.glob("../pages/projects/*.md");
if (projectPosts) {
  projectPosts.sort((a, b) => {
    return dayjs(a.frontmatter.date).isBefore(dayjs(b.frontmatter.date))
      ? -1
      : 1;
  });
}
console.log("projectPosts -->", projectPosts.length);
---

<script>
  const btn = document.querySelector("[itemid='btn-teste']");
  console.log("BTN -->", btn);
  btn?.addEventListener("click", () => {
    alert("Hello Astro!");
  });
</script>
<BaseLayout
  title='Jhonatec | Portfólio'
  description='Bem-vindo ao meu portfólio!'
>
  <Main>
    <Header />
    <Typo variant='h4' align='center'>Aqui vai ter umas abinhas</Typo>

    <div class='grid-cols-3 grid gap-2'>
      {
        projectPosts.map(({ frontmatter: { title, image }, url }) => (
          <Item text={title} url={url as string} img={image.url} />
        ))
      }
    </div>
  </Main>
</BaseLayout>
<style>
  @media screen and (max-width: 640px) {
    .grid {
      gap: 0.4rem;
    }
  }
</style>
