---
import Button from "@components/Button.astro";
import Typo from "@components/Typo.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<script>
  const btn = document.querySelector("[itemid='btn-teste']");
  console.log("BTN -->", btn);
  btn?.addEventListener("click", () => {
    alert("Hello Astro!");
  });
</script>
<BaseLayout title="Jhonatec | Portfólio" description="Bem-vindo ao meu portfólio!">
  <Typo variant='h1'>Astro</Typo>
  <!-- <button id="btn-teste">Agora</button> -->
  <Button id='btn-teste' itemid='btn-teste' size='large' variant='text'
    >Click me</Button
  >
</BaseLayout>
