---
import Button from "@components/Base/Button.astro";
import Typo from "@components/Base/Typo.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header/index.astro";
import Main from "@layouts/Main.astro";
---

<script>
  const btn = document.querySelector("[itemid='btn-teste']");
  console.log("BTN -->", btn);
  btn?.addEventListener("click", () => {
    alert("Hello Astro!");
  });
</script>
<BaseLayout
  title='Jhonatec | Portf칩lio'
  description='Bem-vindo ao meu portf칩lio!'
>
  <Main>
    <Header />
    <Typo variant='h1'>Ol치 ser humano! 游</Typo>
    <Typo> Aqui vai a lista de certifica칞칫es em formato de Stories </Typo>
    <Typo> Aqui vai uma lista de abas com posts/tutoriais/contato </Typo>
    <Typo>Aqui vai um ARCHIVE, cada ITEM ter치 sua p치gina pr칩pria</Typo>
    <Button href="/post">Exemplo de p치gina reaproveitando o HEADER</Button>
  </Main>
</BaseLayout>
