---
import Avatar from "@components/Base/Avatar.astro"; //problemas
import Tooltip from "@components/Base/Tooltip.astro";
---

<div class='relative container-avatar-video sm:scale-125'>
  <div
    class={`bg-gradient-to-r from-cyan-500 to-blue-500 transition-all rounded-full duration-500 surrond-avatar`}
  >
    .
  </div>
  <Tooltip text='Assista meu vídeo' placement='right'>
    <Avatar
      src='https://avatars.githubusercontent.com/u/5642440?v=4'
      size={10}
      href='/perfil/video'
    />
  </Tooltip>
</div>
