---
import Avatar from "@components/Base/Avatar.astro";
import Tooltip from "@components/Base/Tooltip.astro";
---

<div class='relative container-avatar-video sm:scale-125'>
  <div
    class={`bg-gradient-to-r from-cyan-500 to-blue-500 transition-all rounded-full duration-500 surrond-avatar`}
  >
    .
  </div>
  <Tooltip text='Assista meu vídeo' placement='right'>
    <Avatar
      src='https://avatars.githubusercontent.com/u/5642440?v=4'
      size={10}
      href='/profile/video'
    />
  </Tooltip>
</div>
<style>
  .container-avatar-video:hover .surrond-avatar {
    transform: rotate(360deg);
    scale: 1.1;
  }
  .surrond-avatar {
    color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.75;
    scale: 1.05;
  }
</style>
